.MainPage {
  display: flex;
  justify-content: center; 
  padding: 100px 0;
  flex-grow: 1;
  width: 100%;  
}

.MainPage h1 {
  width: 100%;
  text-align: center;
}

.MainPageEvents {
  display: flex;
  justify-content: space-evenly;
}