.Event {    
    margin-bottom: 10px;
    display: block;
    padding: 10px;
}

.input {
    border: 3px solid blue;
}

.input--green {
    border: 3px solid green 
}

.input--red {
    border: 3px solid red
}